footer.footer
    .uk-container
        .test-el lorem Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio facere fugiat ipsa mollitia perferendis. Ad, asperiores corporis deserunt eveniet facilis laborum laudantium maxime minima omnis perferendis, quae repellat rerum voluptate?
script(src="/js/app.min.js")